aioboto3==11.2.0
aiobotocore==2.5.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
altair==4.2.2
async-timeout==4.0.2
attrs==23.1.0
blinker==1.4
boto3==1.26.76
botocore==1.29.76
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
cryptography==3.4.8
dataclasses-json==0.5.7
decorator==5.1.1
deeplake==3.5.3
dill==0.3.6
distlib==0.3.6
distro==1.7.0
distro-info
entrypoints==0.4
filelock==3.12.0
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
httplib2==0.20.2
humbug==0.3.1
idna==3.4
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
keyring==23.5.0
langchain==0.0.183
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mdurl==0.1.2
more-itertools==8.10.0
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
nest-asyncio==1.5.6
netifaces==0.11.0
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.0
openai==0.27.7
openapi-schema-pydantic==1.2.4
packaging==23.1
pandas==2.0.2
pathos==0.3.0
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.5.1
pox==0.3.2
ppft==1.7.6.6
protobuf==3.20.3
pyarrow==12.0.0
pydantic==1.10.8
pydeck==0.8.1b0
Pygments==2.15.1
PyJWT==2.3.0
Pympler==1.0.1
pyparsing==2.4.7
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==5.4.1
regex==2023.5.5
requests==2.31.0
rich==13.3.5
s3transfer==0.6.1
SecretStorage==3.3.1
six==1.16.0
smmap==5.0.0
SQLAlchemy==2.0.15
streamlit==1.22.0
streamlit-chat==0.0.2.2
systemd-python==234
tenacity==8.2.2
tiktoken==0.4.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
typing-inspect==0.9.0
typing_extensions==4.6.2
tzdata==2023.3
tzlocal==5.0.1
